* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  border: 5px solid black;
  align-items: center;
  background-color: white;
  width: 1000px;
  margin: auto;
  border-radius: 15px;
  margin-bottom: 50px;
  text-shadow: 1px 1px 2px #000000;
}
#banniere {
  border: 4px solid black;
  margin: auto;
  display: block;
  border-radius: 15px;
  object-fit: cover;
  margin-top: 30px;
  margin-bottom: 50px;
}
body {
  background-color: white;
  margin: auto;
}

.div1 {
  border: 4px solid black;
  margin: auto;
  display: block;
  border-radius: 15px;
  object-fit: cover;
  background-color: lightblue;
  width: 50%;
  justify-content: center;
  margin-bottom: 300px;
  height: 350px;
}

p {
  font-size: 20px;
  text-align: justify;
  margin: 15px;
  line-height: 1.5;
  margin-bottom: 200px;
}
.div3 {
  border: 4px solid black;
  margin: auto;
  display: block;
  border-radius: 15px;
  object-fit: cover;
  background-color: lightblue;
  width: 50%;
  justify-content: center;
  margin-bottom: 300px;
  height: 350px;
}
.div5 {
  border: 4px solid black;
  margin: auto;
  display: block;
  border-radius: 15px;
  object-fit: cover;
  background-color: lightblue;
  width: 50%;
  justify-content: center;
  margin-bottom: 400px;
  height: 500px;
}
.div7 {
  border: 4px solid black;
  margin: auto;
  display: block;
  border-radius: 15px;
  object-fit: cover;
  background-color: lightblue;
  width: 50%;
  justify-content: center;
  height: 560px;
}
.N {
  float: left;
}
.Reshiram {
  float: left;
}
.Zekrom {
  float: right;
  margin-right: 200px;
}
.body {
  background-color: white;
  color: black;
}
.dark {
  background-color: black;
  color: white;
}
